@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

html {
  scroll-behavior: smooth;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-8deg);
  }

  60% {
    transform: rotate(14deg);
  }

  80% {
    transform: rotate(-4deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.animation-wave {
  animation: wave 2s ease-in-out infinite;
  transform-origin: 70% 70%;
}

/* @keyframes rotate {

  0%,
  100% {
    top: 0;
  }

  20% {
    top: 0;
  }

  25% {
    top: -120%;
  }

  45% {
    top: -235%;
  }

  50% {
    top: -235%;
  }

  70% {
    top: -350%;
  }

  75% {
    top: -470%;
  }

  95% {
    top: -470%;
  }
}

.rotate-animation {
  animation: rotate 5s ease infinite;
} */

/* Container for the animated text */
.typewriter {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

/* The animated text itself */
.sec-text {
  position: relative;
  /* color: #4070f4; */
}

/* Cursor / wipe animation */
.sec-text::before {
  content: "";
  position: absolute;
  top: -5%;
  left: -10%;
  height: 200%;
  width: 200%;
  background-color: #0a0a0a;
  border-left: 2px solid #4070f4;
  animation: animate 5s steps(12) infinite;
}

@media (max-width: 700px) {
  .sec-text::before {
    width: 200%;
    height: 200%;
    top: -10%;
    left: -10%;
  }
}

/* Keyframes */
@keyframes animate {

  40%,
  60% {
    left: 100%;
  }

  85% {
    left: -10%
  }

  100% {
    left: -10%;
  }
}